body {
    text-align: center;
/*    KUDO: Image Source http://seamless-pixels.blogspot.com/2012/12/tileable-canvas-cloth-texture.html*/
    background-image: url("../images/clothtexture.jpg");
    background-repeat: repeat;
}

